<!DOCTYPE html>
<html ng-app="honorflightFormPrototype">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link href="app.less" type="text/css" rel="stylesheet/less">
</head>
<body>

<!-- Livereload script for development only (stripped during dist build) -->
<script src="http://localhost:35729/livereload.js" data-concat="false"></script>

<!-- JS from Bower Components -->
<script src="bower_components/less.js/dist/less-1.6.2.js" data-concat="false"></script>
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-ui-utils/ui-utils.js"></script>
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<!-- Add New Bower Component JS Above -->
<style>
    div{
        border-left: 1px red;
    }
    .form-group{
        padding-top: 10px;
    }
</style>


<!-- Main App JS -->
<script src="app.js"></script>
<!-- Add New Component JS Above -->

<div>
    <div id="content" class="container">
        <div class="row">
            Hello World
            <div ui-view>
                <div class="row">
                    <div class="col-md-2" style="border-left: dashed;">test1</div>
                    <div class="col-md-6" style="border-left: dashed;">
                        <form class="form-inline" role="form" action="folder_page.php" method="POST">
                            <div class="form-group">
                                <span style="color:black; font-size: 100%;">Last Name:</span>
                                <input type="text" class="form-control" name="first_name" placeholder="First Name" required>
                            </div>
                            <div class="form-group" style="padding-left: 20px; padding-right: 20px;">
                                <span style="color:black; font-size: 100%;">First Name:</span>
                                <input type="text" class="form-control" name="last_name" placeholder="Last Name" required>
                            </div>

                            <div class="form-group">
                                <span style="color:black; font-size: 100%;">Full Middle:</span>
                                <input type="text" class="form-control" name="full_middle" placeholder="Full Middle" required>
                            </div>
                            <div class="form-group" style="padding-left: 20px; padding-right: 20px;">
                                <span style="color:black; font-size: 100%;">Nick Name:</span>
                                <input type="text" class="form-control" name="nick_name" placeholder="Nick Name" required>
                            </div>

                            <div style="padding-top: 10px;">
                                <span style="color:black; font-size: 100%;">Address:</span>
                                <input type="text" class="form-control" name="address" style="width: 82%" placeholder="Address" required>
                            </div>

                            <div class="form-group" >
                                <span style="color:black; font-size: 100%;">City:</span>
                                <input type="text" class="form-control" name="city" placeholder="City" required>
                            </div>

                            <div class="form-group" style="padding-left: 20px; padding-right: 20px;">
                                <span style="color:black; font-size: 100%;">State:</span>
                                <input type="text" class="form-control" name="state" placeholder="State" required>
                            </div>

                            <div class="form-group" >
                                <span style="color:black; font-size: 100%;">Zip:</span>
                                <input type="text" class="form-control" name="zip" placeholder="Zip" required>
                            </div>

                            <div class="form-group" style="padding-left: 20px; padding-right: 20px;">
                                <span style="color:black; font-size: 100%;">Day Phone:</span>
                                <input type="text" class="form-control" name="day_phone" placeholder="Day Phone" required>
                            </div>

                            <div class="form-group" >
                                <span style="color:black; font-size: 100%;">Eve Phone:</span>
                                <input type="text" class="form-control" name="eve_phone" placeholder="Eve Phone" required>
                            </div>

                            <div class="form-group" style="padding-left: 20px; padding-right: 20px;">
                                <span style="color:black; font-size: 100%;">Cell Phone:</span>
                                <input type="text" class="form-control" name="cell_phone" placeholder="Cell Phone" required>
                            </div>

                            <div style="padding-top: 10px;">
                                <span style="color:black; font-size: 100%;">Email Address:</span>
                                <input type="text" class="form-control" name="email_address" style="width: 82%" placeholder="Email Address" required>
                            </div>

                            <div class="form-group" >
                                <span style="color:black; font-size: 100%;">Occupation:</span>
                                <input type="text" class="form-control" name="occupation" placeholder="Occupation" required>
                            </div>

                            <div class="form-group" style="padding-left: 20px; padding-right: 20px;">
                                <span style="color:black; font-size: 100%;">Age:</span>
                                <input type="text" class="form-control" name="age" placeholder="Age" required>
                            </div>

                            <div class="form-group" >
                                <span style="color:black; font-size: 100%;">D.O.B:</span>
                                <input type="text" class="form-control" name="date_of_birth" placeholder="Date of Birth" required>
                            </div>

                            <div style="padding-top: 10px;">
                                <span style="color:black; font-size: 100%;">Are you a verteran? </span>
                                <input type="radio" name="veteranStatus"> Yes
                                <input type="radio" name="veteranStatus"> No
                                <span style="color:black; padding-left: 20px; font-size: 100%;">If yes, branch of service:</span>
                                <input type="text" class="form-control" name="branch_of_service" placeholder="branch of service" required>

                            </div>


                            <div class="form-group" >
                                <span style="color:black; font-size: 100%;">Where Served:</span>
                                <input type="text" class="form-control" name="where_served" placeholder="where_served" required>
                            </div>

                            <div class="form-group" style="padding-left: 20px; padding-right: 20px;">
                                <span style="color:black; font-size: 100%;">When:</span>
                                <input type="text" class="form-control" name="when" placeholder="when" required>
                            </div>

                            <div style="padding-top: 10px;">
                                <span style="color:black; font-size: 100%;">Are you requesting to travel with a specific veteran, if possible?  </span>
                                <input type="radio" name="veteranSpecific"> Yes
                                <input type="radio" name="veteranSpecific"> No

                            </div>

                            <div style="padding-top: 10px;">
                                <span style="color:black; font-size: 100%;">If yes, please name the veteran:  </span>
                                <input type="text" class="form-control" name="name_the_veteran" style="width: 60%" placeholder="Name the veteran" required>

                            </div>


                        </form>
                    </div>
                    <div class="col-md-2" style="border-left: dashed;">test3</div>
                    <div class="col-md-2" style="border-left: dashed;">test4</div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
