<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label >How did you learn about Honor Flight?</label>
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label >Why are you volunteering for Honor Flight?</label>
                <textarea class="form-control" rows="3" ></textarea>
            </div>
            <div class="form-group">
                <label >Please list prior volunteer experience</label>
                <textarea class="form-control" rows="3" ></textarea>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> I am able to push a veteran in a wheelchair up a slight incline
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> I am able to lift 100 lbs
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label >Please identify any physical limitations, restrictions and / or medical conditions that may affect your ability to fulfill the duties of a guardian</label>
                <textarea class="form-control" rows="3" ></textarea>
            </div>
            <div class="form-group">
                <label >Please note any medical experience you may have (e.g., EMT, CPR, Paramedics</label>
                <textarea class="form-control" rows="3" ></textarea>
            </div>
        </div>
    </div>
</div>
