<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label >Name</label>
                <input type="text" class="form-control"  placeholder="Name">
            </div>
            <div class="form-group">
                <label >E-Mail</label>
                <input type="email" class="form-control"  placeholder="Email Address">
            </div>
            <div class="form-group">
                <label >Address</label>
                <input type="text" class="form-control"  placeholder="Street Address">
            </div>
            <div class="row">
                <div class="form-group">
                    <label >City</label>
                    <input type="text" class="form-control"  placeholder="City">
                </div>
                <div class="form-group">
                    <label >State</label>
                    <input type="text" class="form-control"  placeholder="State">
                </div>
                <div class="form-group">
                    <label >Zip</label>
                    <input type="number" class="form-control"  placeholder="Zip">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label >Day Phone</label>
                    <input type="text" class="form-control"  placeholder="Day Phone">
                </div>
                <div class="form-group">
                    <label >Eve. Phone</label>
                    <input type="text" class="form-control"  placeholder="Eve. Phone">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label >Name</label>
                <input type="text" class="form-control"  placeholder="Name">
            </div>
            <div class="form-group">
                <label >E-Mail</label>
                <input type="email" class="form-control"  placeholder="Email Address">
            </div>
            <div class="form-group">
                <label >Address</label>
                <input type="text" class="form-control"  placeholder="Street Address">
            </div>
            <div class="row">
                <div class="form-group">
                    <label >City</label>
                    <input type="text" class="form-control"  placeholder="City">
                </div>
                <div class="form-group">
                    <label >State</label>
                    <input type="text" class="form-control"  placeholder="State">
                </div>
                <div class="form-group">
                    <label >Zip</label>
                    <input type="number" class="form-control"  placeholder="Zip">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label >Day Phone</label>
                    <input type="text" class="form-control"  placeholder="Day Phone">
                </div>
                <div class="form-group">
                    <label >Eve. Phone</label>
                    <input type="text" class="form-control"  placeholder="Eve. Phone">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label >How did you learn about Honor Flight?</label>
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label >Why are you volunteering for Honor Flight?</label>
                <textarea class="form-control" rows="3" ></textarea>
            </div>
            <div class="form-group">
                <label >Please list prior volunteer experience</label>
                <textarea class="form-control" rows="3" ></textarea>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> I am able to push a veteran in a wheelchair up a slight incline
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> I am able to lift 100 lbs
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label >Please identify any physical limitations, restrictions and / or medical conditions that may affect your ability to fulfill the duties of a guardian</label>
                <textarea class="form-control" rows="3" ></textarea>
            </div>
            <div class="form-group">
                <label >Please note any medical experience you may have (e.g., EMT, CPR, Paramedics</label>
                <textarea class="form-control" rows="3" ></textarea>
            </div>

        </div>
    </div>



</div>