<div ng-controller="VeteranContactsController"> <!--Controller name may be different-->
    <!--<div class="row">-->
        <!--<div class="progress">-->
            <!--<div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">-->
                <!--Step 3/8-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <form name="veteranContactsForm" class="modal-form" ng-model="contact"  ng-submit="submitVeteranContacts()" novalidate>
        <div class="row">
            <div class="col-md-12">
                <h1>Veteran Contacts</h1>
            </div>
        </div>
        <div class="col-md-6" ng-repeat="contact in contacts">
            <div class="row">
                <div class="col-md-12">
                    <h3>{{contact.header}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form-group validate-when="submitted" form-ctrl="veteranContactsForm" field-name="name">
                        <div class="form-group">
                            <label class="control-label" for="name">Name</label>
                            <input type="text" class="form-control" id="name" ng-model="contact.name" name="name" required>
                        </div>
                    </form-group>
                </div>

                <div class="col-md-12">
                    <form-group validate-when="submitted" form-ctrl="veteranPersonalInfoForm" field-name="relationship">
                        <div>
                            <label class="control-label">Relationship</label>
                            <select name="relationship" id="relationship" ui-select2="selectOptions"
                                    class="form-control"
                                    ng-model="veteranInfo.relationship"
                                    placeholder="Choose relationship" style="width:100%;" tabindex="7">
                                <option value=""></option>
                                <option ng-repeat="relationshipType in relationshipTypes" value="{{relationshipType.Id}}">
                                    {{relationshipType.RELATIONSHIP_TYPE_NM__c}}
                                </option>
                            </select>

                        </div>
                    </form-group>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form-group validate-when="submitted" form-ctrl="veteranContactsForm" field-name="address">
                        <div class="form-group">
                            <label class="control-label" for="address">Address</label>
                            <input type="text" class="form-control" id="address" name="address" ng-model="contact.address">
                        </div>
                    </form-group>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <form-group validate-when="submitted" form-ctrl="veteranContactsForm" field-name="city">
                        <div class="form-group">
                            <label class="control-label" for="city">City</label>
                            <input type="text" class="form-control" name="City" id="city" ng-model="contact.city">
                        </div>
                    </form-group>
                </div>
                <div class="col-md-3">
                    <form-group validate-when="submitted" form-ctrl="veteranContactsForm" field-name="state">
                        <div class="form-group">
                            <label class="control-label" for="state">State</label>
                            <input type="text" class="form-control" id="state" name="state" ng-model="contact.state">
                        </div>
                    </form-group>
                </div>
                <div class="col-md-3">
                    <form-group validate-when="submitted" form-ctrl="veteranContactsForm" field-name="zip">
                        <div class="form-group">
                            <label class="control-label" for="zip">Zip</label>
                            <input type="number" class="form-control" id="zip" name="zip" ng-model="contact.zip" ui-mask="99999">
                        </div>
                    </form-group>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <form-group validate-when="submitted" form-ctrl="veteranContactsForm" field-name="primaryPhone">
                        <div class="form-group">
                            <label class="control-label" for="primaryPhone">Primary Phone</label>
                            <input type="text" class="form-control" id="primaryPhone" name="primaryPhone" ng-model="contact.primaryPhone" ui-mask="(999) 999-9999" required>
                        </div>
                    </form-group>
                </div>
                <div class="col-md-6">
                    <form-group validate-when="submitted" form-ctrl="veteranContactsForm" field-name="alternatePhone">
                        <div class="form-group">
                            <label class="control-label" for="alternatePhone">Alternate Phone</label>
                            <input type="text" class="form-control" id="alternatePhone" name="alternatePhone" ng-model="contact.alternatePhone" ui-mask="(999) 999-9999">
                        </div>
                    </form-group>
                </div>
            </div>
            <div class="row" ng-show="contact.type === 'Alternate'">
                <div class="col-md-4">
                    <input type="button" class="btn btn-primary" id="copyContact" ng-click="duplicateContact()" value="Copy Contact">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button ui-sref="veteranServiceHistory" type="submit" class="btn btn-primary" id="saveVeteranContacts()">Next >></button>
            </div>
        </div>
    </form>
</div>
