<div ng-controller="VeteranPersonalInformationController">
    <div class="row">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            Step 1/8
            </div>
        </div>
    </div>

    <form name="veteranPersonalInfoForm" class="modal-form" ng-model="veteranInfo"  ng-submit="submitVeteranPersonalInformation()" novalidate>
        <div class="row">
            <h1>Personal Information</h1>
        </div>

        <div class="row">
            <div class="col-md-6">
                <form-group validate-when="submitted" form-ctrl="VeteranPersonalInformationController" field-name="firstName">
                    <div>
                        <label class="control-label">First Name</label>
                        <input type="text" name="firstName" id="firstName" ng-model="veteranInfo.firstName" class="form-control"
                               tabindex="1" ng-maxlength="50"
                               required ng-trim="true">
                    </div>
                </form-group>
            </div>
            <div class="col-md-6">
                <form-group validate-when="submitted" form-ctrl="VeteranPersonalInformationController" field-name="lastName">
                    <div>
                        <label class="control-label">Last Name</label>
                        <input type="text" name="lastName" id="lastName" ng-model="veteranInfo.lastName" class="form-control"
                               tabindex="1" ng-maxlength="50"
                               required ng-trim="true">
                    </div>
                </form-group>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form-group validate-when="submitted" form-ctrl="VeteranPersonalInformationController" field-name="middleName">
                    <div>
                        <label class="control-label">Middle Name</label>
                        <input type="text" name="middleName" id="middleName" ng-model="veteranInfo.middleName" class="form-control"
                               tabindex="1" ng-maxlength="50"
                               required ng-trim="true">
                    </div>
                </form-group>
            </div>
            <div class="col-md-6">
                <form-group validate-when="submitted" form-ctrl="VeteranPersonalInformationController" field-name="nickname">
                    <div>
                        <label class="control-label">Nickname</label>
                        <input type="text" name="nickname" id="nickname" ng-model="veteranInfo.nickname" class="form-control"
                               tabindex="1" ng-maxlength="50"
                               required ng-trim="true">
                    </div>
                </form-group>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form-group validate-when="submitted" form-ctrl="VeteranPersonalInformationController" field-name="dateOfBirth">
                    <div>
                        <label class="control-label">Date of Birth</label>
                        <input type="date" name="dateOfBirth" id="dateOfBirth" ng-model="veteranInfo.dateOfBirth" class="form-control"
                               required ng-trim="true">
                    </div>
                </form-group>
            </div>
            <div class="col-md-6">
                <form-group validate-when="submitted" form-ctrl="VeteranPersonalInformationController" field-name="age">
                    <div>
                        <label class="control-label">Age</label>
                        <input type="number" name="age" id="age" ng-model="veteranInfo.age" class="form-control"
                               required ng-trim="true">
                    </div>
                </form-group>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form-group validate-when="submitted" form-ctrl="VeteranPersonalInformationController" field-name="tShirtSize">
                    <div>
                        <label class="control-label">T-Shirt Size</label>
                        <input type="text" name="tShirtSize" id="tShirtSize" ng-model="veteranInfo.tShirtSize" class="form-control"
                               tabindex="1" ng-maxlength="50"
                               required ng-trim="true">
                    </div>
                </form-group>
            </div>
            <div class="col-md-6">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form-group validate-when="submitted" form-ctrl="VeteranPersonalInformationController" field-name="address">
                    <div>
                        <label class="control-label">Address</label>
                        <input type="text" name="address" id="address" ng-model="veteranInfo.address" class="form-control"
                               tabindex="1" ng-maxlength="50"
                               required ng-trim="true">
                    </div>
                </form-group>
            </div>
            <div class="col-md-6">
                <form-group validate-when="submitted" form-ctrl="VeteranPersonalInformationController" field-name="city">
                    <div>
                        <label class="control-label">City</label>
                        <input type="text" name="city" id="city" ng-model="veteranInfo.city" class="form-control"
                               tabindex="1" ng-maxlength="50"
                               required ng-trim="true">
                    </div>
                </form-group>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <form-group validate-when="submitted" form-ctrl="VeteranPersonalInformationController" field-name="state">
                    <div>
                        <label class="control-label">State</label>
                        <input type="text" name="state" id="state" ng-model="veteranInfo.state" class="form-control"
                               tabindex="1" ng-maxlength="50"
                               required ng-trim="true">
                    </div>
                </form-group>
            </div>
            <div class="col-md-5">
                <form-group validate-when="submitted" form-ctrl="VeteranPersonalInformationController" field-name="zip">
                    <div>
                        <label class="control-label">Zip Code</label>
                        <input type="number" name="zipCode" id="zipCode" ng-model="veteranInfo.zipCode" class="form-control"
                               tabindex="1" ng-maxlength="50"
                               required ng-trim="true">
                    </div>
                </form-group>
            </div>
            <div class="col-md-5">
                <form-group validate-when="submitted" form-ctrl="VeteranPersonalInformationController" field-name="county">
                    <div>
                        <label class="control-label">County</label>
                        <input type="text" name="county" id="county" ng-model="veteranInfo.county" class="form-control"
                               tabindex="1" ng-maxlength="50"
                               required ng-trim="true">
                    </div>
                </form-group>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form-group validate-when="submitted" form-ctrl="VeteranPersonalInformationController" field-name="homePhone">
                    <div>
                        <label class="control-label">Home Phone</label>
                        <input type="text" name="homePhone" id="homePhone" ng-model="veteranInfo.homePhone" class="form-control" ui-mask="(999)999-9999">
                    </div>
                </form-group>
            </div>
            <div class="col-md-6">
                <form-group validate-when="submitted" form-ctrl="VeteranPersonalInformationController" field-name="cellPhone">
                    <div>
                        <label class="control-label">Cell Phone</label>
                        <input type="text" name="cellPhone" id="cellPhone" ng-model="veteranInfo.cellPhone" class="form-control"
                               tabindex="1" ng-maxlength="50"
                               required ng-trim="true">
                    </div>
                </form-group>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form-group validate-when="submitted" form-ctrl="VeteranPersonalInformationController" field-name="email">
                    <div>
                        <label class="control-label">E-Mail Address</label>
                        <input type="text" name="email" id="email" ng-model="veteranInfo.email" class="form-control"
                               tabindex="1" ng-maxlength="50"
                               required ng-trim="true">
                    </div>
                </form-group>
            </div>
            <div class="col-md-6">
                &nbsp;
            </div>
        </div>
    </form>
</div>
