<div ng-controller="VeteranPersonalInfoController">
    <form name="veteranPersonalInfoForm" class="modal-form"  ng-submit="" novalidate>
        <div class="row">
            <div class="col-md-6">
                <form-group validate-when="submitted" form-ctrl="VeteranPersonalInfoController" field-name="firstName">
                    <div>
                        <label class="control-label">First Name</label>
                        <input type="text" name="firstName" id="firstName" ng-model="veteran.firstName" class="form-control"
                               tabindex="1" ng-maxlength="50"
                               required ng-trim="true">
                    </div>
                </form-group>
            </div>
            <div class="col-md-6">
                <form-group validate-when="submitted" form-ctrl="VeteranPersonalInfoController" field-name="lastName">
                    <div>
                        <label class="control-label">Last Name</label>
                        <input type="text" name="lastName" id="lastName" ng-model="veteran.lastName" class="form-control"
                               tabindex="1" ng-maxlength="50"
                               required ng-trim="true">
                    </div>
                </form-group>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form-group validate-when="submitted" form-ctrl="VeteranPersonalInfoController" field-name="middleName">
                    <div>
                        <label class="control-label">Middle Name</label>
                        <input type="text" name="middleName" id="middleName" ng-model="veteran.middleName" class="form-control"
                               tabindex="1" ng-maxlength="50"
                               required ng-trim="true">
                    </div>
                </form-group>
            </div>
            <div class="col-md-6">
                <form-group validate-when="submitted" form-ctrl="VeteranPersonalInfoController" field-name="nickname">
                    <div>
                        <label class="control-label">Middle Name</label>
                        <input type="text" name="nickname" id="nickname" ng-model="veteran.nickname" class="form-control"
                               tabindex="1" ng-maxlength="50"
                               required ng-trim="true">
                    </div>
                </form-group>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form-group validate-when="submitted" form-ctrl="VeteranPersonalInfoController" field-name="dateOfBirth">
                    <div>
                        <label class="control-label">Date of Birth</label>
                        <input type="text" name="dateOfBirth" id="dateOfBirth" ng-model="veteran.dateOfBirth" class="form-control"
                               tabindex="1" ng-maxlength="50"
                               required ng-trim="true">
                    </div>
                </form-group>
            </div>
            <div class="col-md-6">
                <form-group validate-when="submitted" form-ctrl="VeteranPersonalInfoController" field-name="age">
                    <div>
                        <label class="control-label">Age</label>
                        <input type="text" name="age" id="age" ng-model="veteran.age" class="form-control"
                               tabindex="1" ng-maxlength="50"
                               required ng-trim="true">
                    </div>
                </form-group>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form-group validate-when="submitted" form-ctrl="VeteranPersonalInfoController" field-name="tShirtSize">
                    <div>
                        <label class="control-label">Date of Birth</label>
                        <input type="text" name="tShirtSize" id="tShirtSize" ng-model="veteran.tShirtSize" class="form-control"
                               tabindex="1" ng-maxlength="50"
                               required ng-trim="true">
                    </div>
                </form-group>
            </div>
            <div class="col-md-6">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form-group validate-when="submitted" form-ctrl="VeteranPersonalInfoController" field-name="address">
                    <div>
                        <label class="control-label">Address</label>
                        <input type="text" name="address" id="address" ng-model="veteran.address" class="form-control"
                               tabindex="1" ng-maxlength="50"
                               required ng-trim="true">
                    </div>
                </form-group>
            </div>
            <div class="col-md-6">
                <form-group validate-when="submitted" form-ctrl="VeteranPersonalInfoController" field-name="city">
                    <div>
                        <label class="control-label">City</label>
                        <input type="text" name="city" id="city" ng-model="veteran.city" class="form-control"
                               tabindex="1" ng-maxlength="50"
                               required ng-trim="true">
                    </div>
                </form-group>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <form-group validate-when="submitted" form-ctrl="VeteranPersonalInfoController" field-name="state">
                    <div>
                        <label class="control-label">State</label>
                        <input type="text" name="state" id="state" ng-model="veteran.state" class="form-control"
                               tabindex="1" ng-maxlength="50"
                               required ng-trim="true">
                    </div>
                </form-group>
            </div>
            <div class="col-md-5">
                <form-group validate-when="submitted" form-ctrl="VeteranPersonalInfoController" field-name="zip">
                    <div>
                        <label class="control-label">Zip Code</label>
                        <input type="text" name="zipCode" id="zipCode" ng-model="veteran.zipCode" class="form-control"
                               tabindex="1" ng-maxlength="50"
                               required ng-trim="true">
                    </div>
                </form-group>
            </div>
            <div class="col-md-5">
                <form-group validate-when="submitted" form-ctrl="VeteranPersonalInfoController" field-name="county">
                    <div>
                        <label class="control-label">County</label>
                        <input type="text" name="county" id="county" ng-model="veteran.county" class="form-control"
                               tabindex="1" ng-maxlength="50"
                               required ng-trim="true">
                    </div>
                </form-group>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form-group validate-when="submitted" form-ctrl="VeteranPersonalInfoController" field-name="homePhone">
                    <div>
                        <label class="control-label">Home Phone</label>
                        <input type="text" name="homePhone" id="homePhone" ng-model="veteran.homePhone" class="form-control"
                               tabindex="1" ng-maxlength="50"
                               required ng-trim="true">
                    </div>
                </form-group>
            </div>
            <div class="col-md-6">
                <form-group validate-when="submitted" form-ctrl="VeteranPersonalInfoController" field-name="cellPhone">
                    <div>
                        <label class="control-label">Cell Phone</label>
                        <input type="text" name="cellPhone" id="cellPhone" ng-model="veteran.cellPhone" class="form-control"
                               tabindex="1" ng-maxlength="50"
                               required ng-trim="true">
                    </div>
                </form-group>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form-group validate-when="submitted" form-ctrl="VeteranPersonalInfoController" field-name="email">
                    <div>
                        <label class="control-label">E-Mail Address</label>
                        <input type="text" name="email" id="email" ng-model="veteran.email" class="form-control"
                               tabindex="1" ng-maxlength="50"
                               required ng-trim="true">
                    </div>
                </form-group>
            </div>
            <div class="col-md-6">
                &nbsp;
            </div>
        </div>
    </form>
</div>