<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">

<div ng-controller="VeteranCommentsController">
	<!--<div class="row">-->
		<!--<div class="progress">-->
			<!--<div class="progress-bar" role="progressbar" aria-valuenow="87.5" aria-valuemin="0" aria-valuemax="100" style="width: 87.5%;">-->
			<!--Step 8/8-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->

    <form name="veteranCommentsForm" class="modal-form"  ng-submit="saveVeteranComments()" novalidate>
        <div class="row">
            <div class="col-md-12">
                <h1>Veteran Comments</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <form-group validate-when="submitted" form-ctrl="VeteranCommentsForm" field-name="comments">
                    <div>
                        <label class="control-label">Additional Comments or Concerns</label>
                        <textarea ng-model="veteranComments.comment" name="comments" id="comments" class="form-control"></textarea>
                        <!--<input ng-model="veteran_comments.comment" type="text" name="comments" id="comments" ng-model="veteran.comments" class="form-control"-->
                               <!--tabindex="1" ng-maxlength="150"-->
                               <!--required ng-trim="true">-->
                    </div>
                </form-group>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary" id="saveVeteranComments">Complete</button>
            </div>
        </div>
    </form>
</div>
