<div ng-controller="VeteranPersonalInfoController"> <!--Controller name may be different-->
    <form name="veteranPersonalInfoForm" class="modal-form"  ng-submit="" novalidate>/
        <div class="row">
        <p>I hereby authorize Greater St. Louis Honor Flight, Inc. (hereafter, “Honor Flight”), its officers,
        employees, members, participants, users and/or volunteers, to take the action they believe is
        appropriate in an emergency situation. Further, I agree to indemnify and hold harmless Honor Flight,
        any officer, affiliate, employee, member, participant, user and/or volunteer thereof, against any
        claim(s) arising out of said emergency care.</p>
        </div>
        
        <div class="checkbox">
            <label>
                <input type="checkbox" value="signature">I have read and understood the above.
            </label>
        </div>
        <div class="form-group">
            <label for="lastSeizure">Date</label>
            <input type="date" class="form-control" id="date" placeholder="Enter date">
        </div>
    </form>
</div>

